<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="This is an AI Content Generator Tool Build by Skolo Online">
    <meta name="author" content="Zatosh Nakamoto">
    <title>Skolo Online Content Generator</title>

    <!-- Bootstrap core CSS -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Favicons -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.png') }}">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


    <!-- Custom styles for this template -->
    <link href="navbar-top-fixed.css" rel="stylesheet">
  </head>
  <body>

      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Skolo Online</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/product-description">Product Description</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/job-description">Job Description</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/tweet-ideas">Tweet Content</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/cold-emails">Cold Email</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/social-media">Social Ads</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/business-pitch">Pitch Ideas</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/video-ideas">Video Ideas</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/video-description">Video Description</a>
              </li>

            </ul>
          </div>
        </div>
      </nav>


      {% block body %}
      {% endblock %}


    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  </body>
</html>
