{% extends 'includes/layout.html' %}




{% block body %}
<main class="container">
  <div class="bg-light p-5 rounded mt-5">
    <h1> 🖥️ Generate Job Descriptions 🖥️ ️</h1>
    <p class="lead">
      Are you trying to come up with professional sounding job descriptions but have hit a writers block? Let AI help you along.
    </p>

    <h2>Enter the details of your job</h2>

    <form class="" action="/job-description" method="post">

      <div class="mb-3">
        <label class="form-label">Job Title</label>
        <input type="text" class="form-control" name="jobDescription" placeholder="eg. Project Manager">
        <div class="form-text">Enter the title of the Job you would like to receive a description for.</div>
      </div>

      <button type="submit" class="btn btn-primary btn-lg"> 💃 GET RECOMMENDATIONS</button>

    </form>
  </div>


  <div class="p-3 rounded">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="text-primary">{{prompt}}</h3>
        <p class="lead">{{openAIAnswer}}</p>

      </div>
    </div>
  </div>
</main>
{% endblock %}
